.signup-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  background-color: hsl(0, 0%, 96.5%);
  background-attachment: fixed;
}

.login-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.sl-add-pic {
  position: relative;
  transition: 200ms;
}

.sl-add-pic:hover {
  color: hsl(208.7, 100%, 53.7%);
  cursor: pointer;
  border-color: hsl(208.7, 100%, 53.7%);
}

.sl-add-pic-icon {
  font-size: 13rem !important;
  /* border: 10px solid white;
  border-radius: 50%; */
  transition: 200ms;
}

.sl-add-pic-icon:hover {
  cursor: pointer;
  /* color: hsl(208.7, 100%, 53.7%); */
}

.add-icon {
  position: absolute;
  top: 9rem;
  right: 1rem;
  font-size: 3.5rem !important;
  background-color: white;
  /* border: 5px solid hsl(220.3, 62.5%, 22%); */
  border-radius: 50%;
}

/* .add-icon:hover {
  border-color: hsl(208.7, 100%, 53.7%);
} */

/* .ll-text {
  font-size: 2rem;
  text-shadow: 40px -30px 70px hsl(220.3, 62.5%, 22%, 0.8),
    40px -60px 80px rgb(30, 87, 202, 0.8);
  transition: 2500ms;
}

.ll-text:hover {
  text-shadow: 40px -30px 80px hsl(220.3, 62.5%, 22%, 1),
    40px -60px 100px rgb(30, 87, 202, 1);
  cursor: default;
}

.ll-goo {
  font-size: 4rem;
  font-weight: 900;
  text-shadow: 30px -50px 70px hsl(208.7, 100%, 53.7%, 0.4),
    30px -20px 90px hsl(208.7, 100%, 53.7%, 0.6),
    10px 20px 90px rgba(54, 248, 248, 0.6);
  transition: 2500ms;
}

.ll-goo:hover {
  text-shadow: 30px 0px 100px hsl(208.7, 100%, 53.7%, 1),
    30px -20px 1100px hsl(208.7, 100%, 53.7%, 1),
    10px 20px 120px rgba(54, 248, 248, 1);
  cursor: default;
}

.ll-talk {
  color: hsl(208.7, 100%, 53.7%);
} */

.login-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 650px) {
  .signup-wrapper {
    flex-direction: column;
  }
  .login-left {
    /* flex: 0.5; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-right {
    /* position: absolute; */
    /* top: 7.5%; */
    /* flex: 2.5; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .sl-add-pic {
    position: absolute;
    left: 15%;
    z-index: 10;
    top: calc(50vh - 300px);
  }

  .sl-add-pic-icon {
    font-size: 5.5rem !important;
    background-color: white;
    border-radius: 50%;
  }

  .add-icon {
    font-size: 2rem !important;
    top: 3.5rem;
    right: 0.3rem;
  }
}

@media only screen and (max-width: 375px) {
  .sl-add-pic {
    top: calc(50vh - 320px);
  }
  .sl-add-pic-icon {
    font-size: 4rem !important;
    background-color: white;
    border-radius: 50%;
  }

  .add-icon {
    font-size: 1rem !important;
    top: 3rem;
    right: 0.5rem;
  }
}

@media only screen and (max-height: 650px) {
  .sl-add-pic {
    top: calc(50vh - 307px);
  }
}
