.dashboard {
  display: flex;
}

.left-menu {
  flex: 2.5;
  /* background-color: aqua; */
  background-attachment: fixed;
  height: calc(100vh - 61px);
  /* overflow-y: scroll; */
}

.feed {
  flex: 7;
  background-color: hsl(210, 71.4%, 97.3%);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-menu {
  flex: 2.5;
  background-color: hsl(210, 71.4%, 97.3%);
  background-attachment: fixed;
}

.th1 {
  font-size: 150px;
}
