.not-found {
  display: flex;
  min-height: calc(100vh - 61px);
}

.left-menu {
  flex: 2.5;
  background-attachment: fixed;
  height: calc(100vh - 61px);
  position: sticky;
  top: 61px;
  z-index: 60;
  border-right: 1px solid var(--menu-navbar-border);
  background-color: var(--background);
  transition: 700ms;
}

.not-found-wrapper {
  flex: 9.5;
  width: 100%;
  background-color: var(--background-feed);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: 700ms;
}

.status-msg {
  margin-top: 15px;
  font-size: 3rem;
  color: tomato;
}

.not-found-msg {
  font-size: 1rem;
  color: var(--card-text);
}

@media only screen and (max-width: 800px) {
  .left-menu {
    display: none;
  }
}
