.sr-country-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sr-input-country:focus {
  border-radius: 10px 10px 0 0;
}

.sr-country {
  position: absolute;
  top: 33px;
  width: 100%;
  max-height: 150px;
  overflow-y: scroll;
  background-color: var(--background-location);
  border: 1px solid var(--border-location);
  border-top: none;
  border-radius: 0 0 15px 15px;
  z-index: 10;
}

.sr-country-name {
  color: var(--card-text);
  display: block;
  font-size: 0.8rem;
  padding: 5px;
}

.sr-country-name:hover {
  cursor: pointer;
  background-color: var(--border-location);
}
