.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  overflow: hidden;
  top: 10vh;
  width: 30%;
  background-color: var(--background);
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 600;
  animation: slide-down 180ms ease-out forwards;
  word-wrap: break-word;
  white-space: pre-wrap;
  transition: 700ms;
}

.content {
  overflow-y: auto;
  max-height: 80vh;
}

.content::-webkit-scrollbar {
  width: 7px;
}

.content::-webkit-scrollbar-track {
  background-color: var(--scroll-track-modal);
  border-left: solid 4px var(--background);
  border-radius: 3px;
}

.content::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-modal);
  border-left: solid 4px var(--background);
  border-radius: 0;
}

@media (max-width: 1050px) {
  .modal {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .modal {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .modal {
    width: 85%;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
