.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.75);
  /* backdrop-filter: blur(8px); */
}

.modal {
  position: fixed;
  max-height: 80vh;
  overflow-y: auto;
  top: 10vh;
  width: 30%;
  background-color: var(--background);
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 600;
  animation: slide-down 180ms ease-out forwards;
  word-wrap: break-word;
  white-space: pre-wrap;
  transition: 700ms;
}

/* .modal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 30px;
  overflow: hidden;
}

.modal::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 30px;
} */

@media (max-width: 1050px) {
  .modal {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .modal {
    width: 70%;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
