.right-menu {
  position: sticky;
  top: 76px;
  width: 100%;
}

.rm-hr {
  border: none;
  border-bottom: 1px solid hsl(207.2, 32.5%, 58%);
  width: 95%;
}

.no-notifications-msg {
  margin-bottom: 10px;
}
