.right-menu {
  position: sticky;
  top: 76px;
  width: 100%;
}

.rm-notification-wrapper {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.rm-hr {
  border: none;
  border-bottom: 1px solid hsl(207.2, 32.5%, 58%);
  width: 95%;
}

.no-noti {
  font-size: 0.8rem;
  color: hsl(207.2, 32.5%, 68%);
}
