.comments-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow-y: auto;
}

.new-comment-wrapper {
  display: flex;
  width: 100%;
}

.new-comment-input {
  border: none;
  outline: none;
  border-radius: 8px 0 0 8px;
  font-size: 0.9rem;
  width: calc(100% - 42px);
  font-family: "Poppins", sans-serif;
  resize: none;
  background-color: var(--new-comment-background);
  color: var(--navbar-profile-text);
  transition: 700ms;
  padding: 10px;
}

.add-comment-button {
  background-color: var(--new-comment-background);
  border: none;
  outline: none;
  border-radius: 0 8px 8px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--card-text);
  transition: 200ms;
}

.add-comment-button:hover {
  background-color: var(--new-comment-button-hover);
  color: white;
}

.comments-section {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 30vh;
}

.no-comments {
  margin: 15px 0 0 0;
  display: flex;
  justify-content: center;
}

.no-comments > span {
  color: var(--card-text);
  font-size: 0.9rem;
}
