.navbar-search {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  border: 1px solid hsl(206.7, 33.3%, 94.7%);
  border-radius: 10px;
  width: 70%;
}

.search-icon {
  font-size: 1.1rem;
  color: hsl(207.2, 32.5%, 68%);
}

.search-input {
  width: 90%;
  border: none;
  padding: 5px;
  color: hsl(207.2, 32.5%, 58%);
  font-size: 1rem;
}

.search-input:focus {
  outline: none;
}
