.login {
  height: 100vh;
  width: 100vw;
  background-color: hsl(210, 71.4%, 97.3%);
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
}

.login-box {
position: absolute;
left: 50vw;
  height: 70%;
  display: flex;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-welcome {
    width: 50%;
    height: 100vh;
  /* flex: 1; */
  background-color: hsl(220.3, 62.5%, 22%);
  border-radius: 15px 0 0 15px;
  /* padding: 35px 0 35px 35px; */
  display: flex;
  align-items: center;
  justify-content: start;
}

.login-welcome-text {
  color: white;
  font-size: 4rem;
  font-weight: 900;
  padding: 35px;
}

.login-form-wrapper {
    /* height: 70%; */
  /* max-width: 60vw; */
  /* flex: 1; */
  padding: 35px;
  background-color: white;
  color: hsl(220.3, 62.5%, 22%);
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.login-title {
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 25px;
  justify-content: space-between;
}

.login-form-text {
  font-size: 1rem;
  font-weight: 600;
  margin: 8px 0;
}

.login-input {
  border-radius: 10px;
  border: none;
  background-color: white;
  border: 1px solid hsl(207.2, 32.5%, 68%);
  padding: 5px 8px;
  outline: none;
  font-size: 1rem;
}

.login-signup {

}

@media only screen and (max-width: 1200px) {
    .login-welcome-text {
      font-size: 3rem;
    }
  }

  @media only screen and (max-width: 1000px) {
    .login-welcome-text {
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 800px) {
    .login-welcome-text {
      font-size: 1rem;
    }
  }
