.navbar-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 18.2px;
  border: none;
  border-left: 1px solid hsl(206.7, 33.3%, 94.7%);
  height: 60px;
  background-color: white;
}

.navbar-profile-icon {
  font-size: 1.6rem !important;
  color: hsl(207.2, 32.5%, 68%);
}

.navbar-profile:hover {
  padding-top: 3px;
  /* padding-bottom: -3px; */
  height: 55.5px;
  border-bottom: 3px solid hsl(208.7, 100%, 53.7%);
  cursor: pointer;
}

.navbar-profile-focus {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 18.2px;
  border: none;
  border-left: 1px solid hsl(206.7, 33.3%, 94.7%);
  height: 55.5px;
  background-color: white;
  outline: none;
  padding-top: 3px;
  /* height: 57px; */
  border-bottom: 3px solid hsl(208.7, 100%, 53.7%);
  cursor: pointer;
}

.navbar-profile-focus > .navbar-profile-icon {
  color: hsl(220.3, 62.5%, 22%);
}

.navbar-profile-name {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 10px;
}
