.dropdown {
  position: absolute;
  /* top: 61px; */
  right: 10px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  color: hsl(220.3, 62.5%, 22%);
  border: 1px solid hsl(206.7, 33.3%, 94.7%);
  animation: slide-down 200ms ease-out forwards;
}

.dropdown-options {
  border-bottom: 1px solid hsl(206.7, 33.3%, 94.7%);
}

.dropdown-item {
  padding: 15px 0 15px 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.dropdown-item:hover {
  color: hsl(208.7, 100%, 53.7%);
  cursor: pointer;
}

.dropdown-item-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.dropdown-item-text {
  font-family: "Poppins", sans serif;
  font-size: 0.9rem;
  font-weight: 400;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

