.results-expended-wrapper {
  flex: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-attachment: fixed;
}

.search-upper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-expended {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  outline: none;
  border: 1px solid var(--menu-navbar-border);
  box-sizing: border-box;
  color: var(--card-text);
  background-color: var(--background-search-input);
  transition: 700ms;
}

.search-bar-expended {
  width: 40%;
}

.results-expended {
  margin-top: 1rem;
  box-shadow: var(--card-shadow);
  width: 80%;
  border-radius: 10px;
  border: 1px solid var(--menu-navbar-border);
}

.users-expended {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background);
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: 100ms;
  color: var(--card-text);
  transition: 700ms;
  overflow-x: auto;
}

.users-expended:hover {
  background-color: var(--settings-hover);
}

.users-expended:first-child {
  border-radius: 10px 10px 0 0;
}

.users-expended:last-child {
  border-radius: 0 0 10px 10px;
  border-bottom: none;
}

.users-expended:only-child {
  border-radius: 10px;
}

.pic-expended {
  min-width: 45px;
  max-width: 45px;
  min-height: 45px;
  max-height: 45px;
  border-radius: 50px;
  object-fit: cover;
  margin: 10px;
}

.name-expended {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.ue-name {
  font-size: 1rem;
  font-weight: 500;
}

.no-users {
  margin-top: 30px;
  color: var(--card-text);
}

@media only screen and (max-width: 800px) {
  .search-menu {
    display: none;
  }
}

@media only screen and (max-width: 530px) {
  .results-expended {
    width: 95%;
  }

  .search-bar-expended {
    width: 80%;
  }
}

@media only screen and (max-width: 350px) {
  .pic-expended {
    width: 35px;
    height: 35px;
  }

  .search-bar-expended {
    width: 95%;
  }
}
