.change-password-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.modal-title {
  font-size: 1rem;
  margin: 0 0 1rem;
  font-weight: 500;
  text-align: center;
  color: var(--card-text);
}

.modal-input {
  margin: 0 0 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: none;
  background-color: var(--modal-input);
  border: 1px solid var(--modal-input);
  padding: 8px;
  outline: none;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif !important;
  width: 100%;
  box-sizing: border-box;
  color: var(--card-text);
}

.err-msg {
  font-size: 0.9rem;
  color: tomato;
  margin: -31px 0 10px;
  text-align: center;
}

.success-update-msg {
  font-size: 0.9rem;
  color: hsl(120, 39.3%, 54.1%);
  margin: -31px 0 10px;
}

.actions {
  display: flex;
  justify-content: center;
}

.update {
  background-color: var(--save-button);
  border: 1px solid var(--save-button);
  border-radius: 10px;
  width: 20%;
  height: 40px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 200ms;
  font-family: "Poppins", sans-serif !important;
  font-size: 0.9rem;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.update:hover {
  background-color: var(--save-button-hover);
  border: 1px solid var(--save-button-hover);
}

.update:disabled {
  opacity: 50%;
  cursor: auto;
}

.cancel {
  margin-left: 1rem;
  border: 1px solid var(--cancel-button-border);
  background-color: var(--cancel-button);
  color: var(--cancel-button-text);
  border-radius: 10px;
  width: 20%;
  height: 40px;
  font-weight: 600;
  cursor: pointer;
  transition: 200ms;
  font-family: "Poppins", sans-serif !important;
  font-size: 0.9rem;
  outline: none;
}

.cancel:hover {
  background-color: var(--cancel-button-hover);
  color: var(--cancel-button-text-hover);
  outline: none;
}

.cancel:disabled {
  opacity: 50%;
  cursor: auto;
}

@media only screen and (max-width: 1350px) {
  .update,
  .cancel {
    width: 25%;
  }
}

@media only screen and (max-width: 460px) {
  .update,
  .cancel {
    width: 100%;
  }
}

@media only screen and (max-width: 340px) {
  .actions {
    flex-direction: column;
  }
  .cancel {
    margin: 1rem 0 0;
  }
}
