.page-buttons {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.page-button {
  background-color: white;
  border: 1px solid hsl(206.7, 33.3%, 89.7%);
  margin-left: -1px;
  font-size: 1.1rem;
  padding: 6px 12px;
  cursor: pointer;
}

.page-button:first-child {
  border-radius: 5px 0 0 5px;
}

.page-button:last-child {
  border-radius: 0 5px 5px 0;
}

.page-button:only-child {
  border-radius: 5px;
}

.page-num {
  background-color: white;
  border: none;
}

.page-button-checked {
  background-color: hsl(208.7, 100%, 53.7%);
  color: white;
}
