.profile-data-wrapper {
  flex: 9.5;
  width: 100%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.profile-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.profile-images {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 370px;
  width: 100%;
}

.profile-cover {
  height: 250px;
  max-width: 100%;
  min-width: 100%;
  object-fit: cover;
}

.profile-img-text {
  position: absolute;
  top: 200px;
  left: 50px;
  right: 0;
  display: flex;
  align-items: center;
  color: var(--card-text);
}

.profile-pic {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--background-feed);
  margin-right: 10px;
  transition: 700ms;
}

.profile-name-city {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-name {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 !important;
}

.profile-city {
  font-size: 1rem;
}

.profile-user-posts {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.no-posts-msg {
  text-align: center;
  color: var(--card-text);
}

.add-friend-btn {
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: hsl(208.7, 100%, 53.7%);
  color: white;
  transition: 250ms;
  outline: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.add-friend-btn:hover {
  background-color: hsl(120, 39.3%, 54.1%);
}

.add-friend-btn:disabled {
  background-color: rgba(19, 141, 255, 0.6);
  cursor: auto;
}

.add-friend-icon {
  margin-right: 10px;
}

@media only screen and (max-width: 1100px) {
  .profile-images {
    height: 300px;
  }
  .profile-cover {
    height: 200px;
  }

  .profile-img-text {
    top: 175px;
  }

  .profile-pic {
    height: 100px;
    width: 100px;
  }

  .profile-name {
    font-size: 1.2rem;
  }

  .profile-city {
    font-size: 0.9rem;
  }

  .profile-user-posts {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .profile-user-posts {
    width: 100%;
  }
}

@media only screen and (max-width: 540px) {
  .profile-img-text {
    flex-direction: column;
    top: 125px;
    left: 0;
    right: 0;
    align-items: center;
  }

  .profile-name-city {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .add-friend-btn {
    margin-left: 0;
  }

  .profile-user-posts {
    margin-top: 40px;
  }
}
