:root {
  --background-feed: hsl(210, 71.4%, 97.3%);
}

[data-theme="dark"] {
  --background-feed: rgb(18, 18, 18);
}

.feed {
  flex: 7;
  background-color: var(--background-feed);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-menu {
  flex: 2.5;
  background-color: var(--background-feed);
  background-attachment: fixed;
}

@media only screen and (max-width: 800px) {
  .right-menu {
    display: none;
  }
}
