.feed {
  flex: 7;
  background-color: var(--background-feed);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 700ms;
}

.right-menu {
  flex: 2.5;
  background-color: var(--background-feed);
  background-attachment: fixed;
  transition: 700ms;
}

@media only screen and (max-width: 800px) {
  .right-menu {
    display: none;
  }
}
