.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 61px);
  color: var(--text-menu-unselected);
  transition: 700ms;
}

.empty-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 61px);
  color: var(--text-menu-unselected);
}
