.friends-wrapper {
  flex: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.friends-upper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-friends {
  width: 100%;
}

.friends-search-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friends-search-bar {
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  outline: none;
  border: 1px solid var(--menu-navbar-border);
  box-sizing: border-box;
  color: var(--card-text);
  background-color: var(--background-search-input);
}

.friends-results-wrapper {
  margin-top: 1rem;
  box-shadow: var(--card-shadow);
  width: 80%;
  border-radius: 10px;
  border: 1px solid var(--menu-navbar-border);
}

.friends-results {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background);
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: 100ms;
  color: var(--card-text);
}

.friends-results:hover {
  background-color: var(--settings-hover);
}

.friends-results:first-child {
  border-radius: 10px 10px 0 0;
}

.friends-results:last-child {
  border-radius: 0 0 10px 10px;
  border-bottom: none;
}

.friends-results:only-child {
  border-radius: 10px;
}

.no-msg {
  margin-top: 15px;
  color: var(--card-text);
}

@media only screen and (max-width: 530px) {
  .friends-results-wrapper {
    width: 95%;
  }

  .friends-search-bar {
    width: 80%;
  }
}

@media only screen and (max-width: 350px) {
  .friends-search-bar {
    width: 95%;
  }
}
