.menu-wrapper {
  color: var(--text-menu-unselected);
  transition: 700ms;
}

.menu-list {
  margin: 0;
  padding: 20px 0 0;
  list-style: none;
}

.menu-item {
  padding: 15px 50px;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.menu-item:hover {
  padding-left: 47px;
  border-left: 3px solid var(--logo-bright);
  cursor: pointer;
}

.menu-item-active {
  display: flex;
  align-items: center;
  padding: 15px 47px;
  border-left: 3px solid var(--logo-bright);
  color: var(--menu-active-text);
  cursor: pointer;
  font-weight: 600;
}

.menu-list-icon {
  font-size: 1.6rem !important;
  margin-right: 15px;
}

.menu-text {
  font-family: "Poppins", sans serif;
}

@media only screen and (max-width: 1050px) {
  .menu-item {
    padding: 15px 20px;
  }

  .menu-item:hover {
    padding: 15px 17px;
  }

  .menu-item-active {
    padding: 15px 17px;
  }
}
