.check {
  position: relative;
}

.sl-add-pic {
  position: relative;
  transition: 200ms;
}

.sl-form > input {
  display: none;
}

.sl-preview-pic {
  height: 11.2rem;
  width: 11.2rem;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
  cursor: pointer;
}

.sl-add-pic-icon {
  height: 11.2rem;
  width: 11.2rem;
  border: 5px solid white;
  border-radius: 50%;
  transition: 200ms;
  cursor: pointer;
}

.edit-profile {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--profile-picture-border);
  cursor: pointer;
  transition: 700ms;
}

.edit-profile-cover {
  max-height: 200px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.error-file {
  border: 5px solid tomato;
}

.error-file-cover {
  box-shadow: 0px 0px 0px 5px tomato;
  transition: 200ms;
}

.add-icon {
  position: absolute;
  top: calc(100% - 50px);
  right: 0.7rem;
  font-size: 3.5rem !important;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: 200ms;
}

.add-icon:hover {
  color: hsl(208.7, 100%, 53.7%);
}

.edit-profile-add {
  position: absolute;
  top: calc(100% - 35px);
  right: 0;
  font-size: 2.2rem !important;
  background-color: var(--profile-picture-border);
  border-radius: 50%;
  cursor: pointer;
  color: var(--profile-picture-icons-color);
  transition: 200ms;
}

.edit-profile-add:hover {
  color: hsl(208.7, 100%, 53.7%);
}

.edit-profile-cover-add {
  position: absolute;
  top: calc(100% - 25px);
  right: -1rem;
  font-size: 2.2rem !important;
  background-color: var(--profile-picture-border);
  border-radius: 50%;
  cursor: pointer;
  color: var(--profile-picture-icons-color);
  transition: 200ms;
}

.edit-profile-cover-add:hover {
  color: hsl(208.7, 100%, 53.7%);
}

.remove-icon {
  position: absolute;
  top: calc(100% - 50px);
  right: 0.7rem;
  font-size: 3.5rem !important;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: 200ms;
}

.remove-icon:hover {
  color: tomato;
}

.edit-profile-remove {
  position: absolute;
  top: calc(100% - 35px);
  right: -10%;
  font-size: 2.2rem !important;
  background-color: var(--profile-picture-border);
  border-radius: 50%;
  cursor: pointer;
  color: var(--profile-picture-icons-color);
  transition: 200ms;
}

.edit-profile-remove:hover {
  color: tomato;
}

.edit-profile-cover-remove {
  position: absolute;
  top: calc(100% - 25px);
  right: -1rem;
  font-size: 2.2rem !important;
  background-color: var(--profile-picture-border);
  border-radius: 50%;
  cursor: pointer;
  color: var(--profile-picture-icons-color);
  transition: 200ms;
}

.edit-profile-cover-remove:hover {
  color: tomato;
}

@media only screen and (max-width: 650px) {
  .sl-add-pic {
    display: flex;
    align-items: center;
    z-index: 10;
  }

  .sl-preview-pic {
    height: 4.9rem;
    width: 4.9rem;
  }

  .sl-add-pic-icon {
    height: 4.9rem;
    width: 4.9rem;
  }

  .add-icon,
  .remove-icon {
    font-size: 1.8rem !important;
    top: calc(100% - 30px);
    right: 0.1rem;
  }
}

@media only screen and (max-width: 550px) {
  .edit-profile-remove {
    right: 0;
  }
}

@media only screen and (max-width: 375px) {
  .sl-preview-pic {
    height: 3.4rem;
    width: 3.4rem;
  }

  .sl-add-pic-icon {
    height: 3.4rem;
    width: 3.4rem;
  }

  .add-icon,
  .remove-icon {
    font-size: 1.2rem !important;
    top: calc(100% - 25px);
    right: 0.2rem;
  }
}

@media only screen and (max-width: 375px) {
  .edit-profile-cover-add {
    font-size: 1.8rem !important;
    top: calc(100% - 20px);
  }
}

@media only screen and (max-width: 300px) {
  .edit-profile-cover-add {
    font-size: 1.5rem !important;
    top: calc(100% - 18px);
  }
}
