.lr-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.lt-title {
  font-size: 2rem;
  font-weight: 800;
}

.lr-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
}

.lr-form-text {
  font-size: 1rem;
  font-weight: 600;
  margin: 8px 0;
}

.lr-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: none;
  background-color: hsl(212.3, 41.9%, 93.9%);
  border: 1px solid hsl(212.3, 41.9%, 93.9%);
  padding: 8px 8px;
  outline: none;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif !important;
}

.lr-input-password {
  border: none;
  outline: none;
  background-color: hsl(212.3, 41.9%, 93.9%);
  width: 90%;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif !important;
}

.lr-visibility {
  color: hsl(207.2, 32.5%, 68%);
  cursor: pointer;
  font-size: 1.3rem !important;
}

.lr-login-button {
  margin-top: 40px;
  background-color: hsl(208.7, 100%, 53.7%);
  border: 1px solid hsl(208.7, 100%, 53.7%);
  border-radius: 10px;
  padding: 8px 0;
  color: white;
  font-weight: 600;
  box-shadow: hsl(208.7, 100%, 53.7%, 0.75) 0px 13px 27px -8px,
    hsl(208.7, 100%, 53.7%, 0.8) 0px 8px 16px -11px;
  cursor: pointer;
  transition: 200ms;
  font-family: "Poppins", sans-serif !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lr-login-button:hover {
  background-color: hsl(220.3, 62.5%, 22%);
  border: 1px solid hsl(220.3, 62.5%, 22%);
  box-shadow: hsl(220.3, 62.5%, 22%, 0.75) 0px 13px 27px -8px,
    hsl(208.7, 100%, 53.7%, 0.8) 0px 8px 16px -11px;
}

.lr-login-button:focus {
  outline: none;
  background-color: hsl(220.3, 62.5%, 22%);
  border: 1px solid hsl(220.3, 62.5%, 22%);
  box-shadow: hsl(220.3, 62.5%, 22%, 0.75) 0px 13px 27px -8px,
    hsl(208.7, 100%, 53.7%, 0.8) 0px 8px 16px -11px;
}

.lr-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.lr-s-text {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.lr-signup-button {
  width: 100%;
  background-color: transparent;
  border: 1px solid hsl(120, 39.3%, 54.1%);
  border-radius: 10px;
  padding: 8px 0;
  color: hsl(120, 39.3%, 54.1%);
  font-weight: 600;
  cursor: pointer;
  transition: 200ms;
  font-family: "Poppins", sans-serif !important;
  outline: none;
}

.lr-signup-button:hover {
  background-color: hsl(120, 39.3%, 54.1%);
  border: 1px solid hsl(120, 39.3%, 54.1%);
  color: white;
}

.lr-signup-button:focus {
  outline: none;
  background-color: hsl(120, 39.3%, 54.1%);
  border: 1px solid hsl(120, 39.3%, 54.1%);
  color: white;
}

.no-error {
  display: none;
}

.error {
  display: block;
  text-align: center;
  margin-top: 0.5rem;
  color: tomato;
  font-size: 0.8rem;
  margin-bottom: -26px;
}

.demo-login-text {
  font-size: 0.85rem;
  margin-top: 10px;
}

.demo-login-btn {
  color: hsl(208.7, 100%, 53.7%);
  font-weight: 600;
  cursor: pointer;
}

@media only screen and (max-width: 1250px) {
  .lr-card {
    width: 50%;
  }
}

@media only screen and (max-width: 900px) {
  .lr-card {
    width: 60%;
  }
}

@media only screen and (max-width: 730px) {
  .lr-card {
    width: 70%;
  }
}

@media only screen and (max-width: 650px) {
  .lr-card {
    width: 50%;
  }
}

@media only screen and (max-width: 460px) {
  .lr-card {
    width: 80%;
  }
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
