.new-post {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 15px 0;
}

.new-post-upper {
  display: flex;
  align-items: center;
}

.new-post-profile-logo {
  margin-right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.new-post-input {
  border: none;
  outline: none;
  font-size: 1.2rem;
  width: 100%;
  font-family: "Poppins", sans-serif;
  /* overflow:hidden; */
  resize: none;
}

.new-post-br {
  border: none;
  border-bottom: 1px solid hsl(206.7, 33.3%, 89.7%);
  margin: 10px 0;
}

.new-post-features {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.new-post-add-img {
  display: flex;
  align-items: center;
}

.new-post-add-img:hover {
  cursor: pointer;
}

.share-post {
  font-family: "Poppins", sans-serif;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 10px;
  background-color: hsl(206.7, 33.3%, 94.7%);
  color: hsl(220.3, 62.5%, 22%);
  transition: 250ms;
  outline: none;
}

.share-post:hover {
  background-color: hsl(208.7, 100%, 53.7%);
  color: white;
  cursor: pointer;
}

.preview-img-wrapper {
  position: relative;
}

.preview-img {
  margin-top: 15px;
  width: 100%;
  /* max-width: 500px; */
  max-height: 500px;
  object-fit: contain;
  border-radius: 10px;
}

.remove-img-icon {
  position: absolute;
  top: 15px;
  right: 0px;
  font-size: 2rem !important;
  transition: 200ms;
  cursor: pointer;
  background-color: white;
  border-radius: 0 0 0 10px;
}

.remove-img-icon:hover {
  color: tomato;
}

@media only screen and (max-width: 650px) {
  .new-post-input {
    font-size: 0.9rem;
  }
  .new-post-add-img-text {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 380px) {
  .new-post-input {
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 320px) {
  .new-post-add-img-text {
    font-size: 0.65rem;
  }
}
