.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid hsl(206.7, 33.3%, 94.7%);
  position: sticky;
  height: 60px;
}

.logo {
  flex: 4;
}

.navbar-logo {
  font-family: "Poppins", sans-serif;
  color: hsl(208.7, 100%, 53.7%);
  font-weight: 900;
  margin-left: 1rem;
}

.logo-span {
  font-family: "Poppins", sans-serif;
  color: hsl(220.3, 62.5%, 22%);
}

.search {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-features {
  flex: 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-features-icon {
  font-size: 1.6rem;
  color: hsl(207.2, 32.5%, 68%);
  padding: 18.2px;
}

.navbar-features-icon:hover {
  padding-bottom: 15.2px;
  border-bottom: 3px solid hsl(208.7, 100%, 53.7%);
  cursor: pointer;
}

.navbar-features-icon-focus {
  font-size: 1.6rem;
  color: hsl(207.2, 32.5%, 68%);
  padding: 18.2px;
  padding-bottom: 15.2px;
  border-bottom: 3px solid hsl(208.7, 100%, 53.7%);
  cursor: pointer;
  color: hsl(220.3, 62.5%, 22%);
}

.dropdown-menu {
  position: absolute;
  top: 61px;
  right: 10px;
  min-width: 250px;
}

/* hsl(206.7, 33.3%, 94.7% */
