.notification-wrapper {
  margin-top: 1rem;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--card-text);
}

@media only screen and (max-width: 500px) {
  .notification-wrapper {
    width: 95%;
  }
}
